<h1>About</h1>
<h3>
<%= link_to "Hasan's Web App", "http://hasanme.com" %> is a project
on <%= link_to "Ruby On Rails", "http://ruby-lang.org" %> to make a sample web app
which let users post there pictures .

</h3>