
<h1>Welcome to ver y fast Rails App project</h1>
    <p>
        You have found the home page for the
        <%=  link_to "One Month Rails ",  "http://hasanme.com"%>
        application.
    </p>
    <p>
    <%= link_to "Sign Up Now!", "#" %>
    </p>
