
<h1>Welcome to my very fast  Web Apps page</h1>
<h2>This is Hasan!</h2>
    <p>
        I am glad that you have found the homepage of my
        <%=  link_to "Hasan's Web Rails ",  "http://hasanme.com"%>
        application.
    </p>
    <p>
    <%= link_to "Sign Up Now!", "#" %>
    </p>
