<div class="jumbotron">

    <h1>Welcome to  My Rails Web App!</h1>

    <h2>Hi, This is Hasan.</h2>
        <p>
            I am glad that you have found the homepage of
            <%=  link_to "Hasan's Web Rails ",  "http://hasanme.com"%>
            application.
        </p>
        <p>
            <%= link_to "Sign Up Now!", '#', class: "btn btn-primary btn-lg"   %>
        </p>
</div>