
@import url(https://fonts.googleapis.com/css?family=Oxygen);

$btn-primary-bg: green;
$navbar-default-brand-color: rgba(255, 255, 255, 0.8);
@import 'bootstrap-sprockets';
@import 'bootstrap';





.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

div.row {
	margin-left: 0px;
  margin-right: 0px;
}
div.well {
	margin: 0 auto;
 	border: 5px groove;
  border-radius: 5px;
}

body {
  padding-top: 60px;
  font-family: 'Oxygen', sans-serif;
  background:  #f5f8fa;
}
.navbar-default {
  background: #2882b5 !important;
}
.navbar-default .navbar-nav
 {
  li a {
    color: rgba(255, 255, 255, 0.8);
  }
  li a:hover{
    color: white;
  }
}


.navbar-default .pull-right {
 li a {
  color: rgba(255, 255, 255, 0.8);
 }
 li a:hover{
    color: white;
  }
}
footer {
  margin-top:50px;
  color: #d3d3d3;
  a {
    color: gray;
  }
  a:hover {
    color: red;
  }
}

.showimg img {
  width: 100%;
  height: auto;
}


#pins {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}
p.description {
  padding-top: 10px;
}