<div class="index_footer">
	<footer>
	<p>
	<%= link_to "Rails Web App", "http://hasanme.com" %>
	  by <small>
	    <%=  link_to "Hasan Ahmed", "http://hasanme.com" %>
	  </small>
	</p>
	</footer/>
</div>